@font-face {
  font-family: "e-Ukraine-UltraLight";
  font-weight: 200;
  font-style: normal;
  src: url(./../assets/fonts/e-Ukraine-Bold.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Bold.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Bold.ttf) format("ttf");
  // src: url(./fonts/e-Ukraine/e-UkraineHead-UltraLight.ttf) format("ttf");
}

@font-face {
  font-family: "e-Ukraine-Light";
  font-weight: 300;
  src: url(./../assets/fonts/e-Ukraine-Light.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Light.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Light.ttf) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine-Medium";
  font-weight: 500;
  src: url(./../assets/fonts/e-Ukraine-Medium.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Medium.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Medium.ttf) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine-Regular";
  font-weight: 400;
  src: url(./../assets/fonts/e-Ukraine-Regular.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Regular.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Regular.ttf) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine-Thin";
  font-weight: 100;
  src: url(./../assets/fonts/e-Ukraine-Thin.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Thin.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Thin.ttf) format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "e-Ukraine-Bold";
  font-weight: 700;
  src: url(./../assets/fonts/e-Ukraine-Bold.woff2) format("woff2"),
    url(./../assets/fonts/web/e-Ukraine-Bold.woff) format("woff"),
    url(./../assets/fonts/web/e-Ukraine-Bold.ttf) format("ttf");
  font-style: normal;
}
//
// @font-face {
//   font-family: "e-Ukraine-UltraLight";
//   font-weight: 200;
//   font-style: normal;
//   src: url(./fonts/e-Ukraine/e-Ukraine-UltraLight.otf) format("otf");
// }

// @font-face {
//   font-family: "e-Ukraine-Light";
//   font-weight: 300;
//   src: url(./fonts/e-Ukraine/e-Ukraine-Light.otf) format("otf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "e-Ukraine-Medium";
//   font-weight: 500;
//   src: url(./fonts/e-Ukraine/e-Ukraine-Medium.otf) format("otf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "e-Ukraine-Regular";
//   font-weight: 400;
//   src: url(./fonts/e-Ukraine/e-Ukraine-Regular.otf) format("otf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "e-Ukraine-Thin";
//   font-weight: 100;
//   src: url(./fonts/e-Ukraine/e-Ukraine-Thin.otf) format("otf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "e-Ukraine-Bold";
//   font-weight: 700;
//   src: url(./fonts/e-Ukraine/e-Ukraine-Bold.otf) format("otf");
//   font-style: normal;
// }
